@model SluzbeniDokument

@{
    ViewBag.Title = "Novi dokument";
}

<h2>Unos novog dokumenta</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="KlasaDokumenta"></label>
        <div><span asp-validation-for="KlasaDokumenta" class="text-danger"></span></div>
        <input asp-for="KlasaDokumenta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImeDokumenta"></label>
        <div><span asp-validation-for="ImeDokumenta" class="text-danger"></span></div>
        <input asp-for="ImeDokumenta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UrudzbeniBroj"></label>
        <div><span asp-validation-for="UrudzbeniBroj" class="text-danger"></span></div>
        <input asp-for="UrudzbeniBroj" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TekstDokumenta"></label>
        <div><span asp-validation-for="TekstDokumenta" class="text-danger"></span></div>
        <input asp-for="TekstDokumenta" type="file" name="binarniZapis" />
    </div>
    <div class="form-group">
        <label asp-for="SifVrsteDokumenta"></label>
        <div><span asp-validation-for="SifVrsteDokumenta" class="text-danger"></span></div>
        <select class="form-control" asp-for="SifVrsteDokumenta" asp-items="ViewBag.vrsteDokumenta">
            <option disabled selected value="">Odaberite vrstu dokumenta</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="SifPrijave"></label>
        <div><span asp-validation-for="SifPrijave" class="text-danger"></span></div>
        <select class="form-control" asp-for="SifPrijave" asp-items="ViewBag.prijave">
            <option disabled selected value="">Odaberite šifru prijave na natjecaj</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}
