<table id="template" style="visibility:hidden">
    <tr>
        
        <td class="text-left col-sm-2">
            <input type="hidden" name="Stavke.Index" value="--ime--" />

            <input name="Stavke[--ime--].EvidencijskiBroj" class="form-control" value="--EvidencijskiBroj--" />
        </td>
        
        
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].PredmetNabave" class="form-control" value="--PredmetNabave--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].VrijediOd" class="form-control" value="--VrijediOd--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].VrijediDo" class="form-control" value="--VrijediDo--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].Napomena" class="form-control" value="--Napomena--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].VrstaPostupka" class="form-control" value="--VrstaPostupka--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].VrijednostNabave" class="form-control" value="--VrijednostNabave--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--ime--].SifStatusa" class="form-control" value="--Status--" />
        </td>
        
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>