@model StrucnjaciFilter

<form id="filterform" asp-action="Filter" method="post">
    <div class="form-group row">
        <label asp-for="SifStrucneSpreme" class="col-sm-3 col-form-label">Stručna sprema</label>
        <div class="col-sm-2">
            <input asp-for="SifStrucneSpreme" readonly="readonly" class="form-control" data-autocomplete-placeholder="StrucneSpremeFiltered" />
        </div>
        <div class="col-sm-6">
            <input class="form-control" data-autocomplete="StrucneSpremeFiltered" asp-for="NazivStrucneSpreme" />
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SifGrada" class="col-sm-3 col-form-label">Grad</label>
        <div class="col-sm-2">
            <input asp-for="SifGrada" readonly="readonly" class="form-control" data-autocomplete-placeholder="GradoviFiltered" />
        </div>
        <div class="col-sm-6">
            <input class="form-control" data-autocomplete="GradoviFiltered" asp-for="NazivGrada" />
        </div>

        <div class="col-sm-1 text-nowrap">
            <button type="submit" class="btn btn-sm btn-primary" title="Postavi filter"><i class="fas fa-filter"></i></button>

            <a class="btn btn-sm btn-primary" asp-action="Index" title="Ukloni filter">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    
</form>