<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Kompetencije.Index" value="--detalji--" />
            <input type="hidden" name="Kompetencije[--detalji--].SifKompetencije" value="--sifra--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Kompetencije[--detalji--].DetaljiKompetencije" class="form-control" value="--detalji--" />
        </td>
        <td class="text-center col-sm-1">
            <input type="hidden" name="Kompetencije[--detalji--].SifVrsteKompetencije" value="--sifVrste--" />
            <input type="hidden" name="Kompetencije[--detalji--].NazivVrsteKompetencije" value="--nazivVrste--" />
            --nazivVrste--
        </td>

        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>