@model IEnumerable<KontaktViewModel>
<table class="table table-striped" id="table-stavke">
    <thead>
        <tr>
            @{ string[] nazivi = { "Vrsta kontakta", "Kontakt" };
                for (int i = 0; i < nazivi.Length; i++)
                {
    <th class="text-center">
        @nazivi[i]
    </th>
 } }
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input id="kontakt-tekstKontakta" type="text" />
            </td>
            <td class="text-center col-sm-1">
                <select id="kontakt-sifVrsteKontakta">
                    <option value="1">telefon</option>
                    <option value="2">email</option>
                </select>
            </td>

            <td class="text-left" colspan="3">
                <button id="kontakt-dodaj" class="btn btn-sm btn-secondary" title="Dodaj"><i class="fas fa-plus"></i></button>
            </td>
        </tr>
    </tbody>
</table>

