
<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-center col-sm-3">
            <input type="hidden" class="form-control" name="kontakti[--sifra--].TekstKontakta" value="--tekstKontakta--" />
            --tekstKontakta--
        </td>
        <td class="text-center col-sm-1">
            <input type="hidden" class="form-control" name="kontakti[--sifra--].SifVrsteKontakta" value="--sifra--" />
            <input type="hidden" class="form-control" name="kontakti[--sifra--].VrstaKontakta" value="--nazivVrsteKontakta--" />
            --nazivVrsteKontakta--
        </td>
        <td class="text-center col-sm-3">
            <input type="hidden" name="kontakti.Index" value="--sifra--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci"><i class="fa fa-minus"></i></button>
        </td>>
    </tr>
</table>